<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel"
     style="max-height: 450px; overflow: hidden; position: relative;">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="/assets/images/carousel/i01.jpg" class="d-block w-100" alt="..."
                 style="object-fit: cover; height: 450px;">
        </div>
        <div class="carousel-item">
            <img src="/assets/images/carousel/i02.jpg" class="d-block w-100" alt="..."
                 style="object-fit: cover; height: 450px;">
        </div>
        <div class="carousel-item">
            <img src="/assets/images/carousel/i03.jpg" class="d-block w-100" alt="..."
                 style="object-fit: cover; height: 450px;">
        </div>
        <div class="carousel-item">
            <img src="/assets/images/carousel/i04.jpg" class="d-block w-100" alt="..."
                 style="object-fit: cover; height: 450px;">
        </div>
    </div>

    <div class="carousel-masthead">
        <div class="container inner">
            <div class="d-flex align-items-center justify-content-between brand-row">
                <a href="/" class="d-flex align-items-center text-decoration-none text-white">
                    <span class="seal" aria-hidden="true">
                        <img src="/assets/images/logo/logo-kolo.jpg" alt="">
                    </span>
                    <div class="ms-3">
                        <p class="title">{{ site.title | default: "SP2ZIE" | escape }}</p>
                        <p class="subtitle">{{ site.description | escape }}</p>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
            data-bs-slide="prev" style="z-index: 4;">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
            data-bs-slide="next" style="z-index: 4;">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
