<nav class="navbar navbar-expand-lg bg-body-tertiary sticky-top border-bottom">
    <div class="container">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/">SP2ZIE</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="https://www.facebook.com/p/SP2ZIE-Morski-Klub-%C5%81%C4%85czno%C5%9Bci-Szkuner-100063558938156/?locale=pl_PL">
                        Aktualności <i class="bi bi-facebook" aria-hidden="true"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/projekty/">Projekty</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/radio/">Radio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/zawody/">Zawody</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/kontakt/">Kontakt</a>
                </li>
            </ul>
            <form class="d-flex" role="search">
                <input id="search-input" class="form-control me-2" type="search" placeholder="Search" aria-label="Search"/>
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>
