<ul class="social-media-list">
    <li>
        <a href="https://www.facebook.com/p/SP2ZIE-Morski-Klub-%C5%81%C4%85czno%C5%9Bci-Szkuner-100063558938156/?locale=pl_PL">
            <svg class="svg-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#facebook' | relative_url }}"></use></svg>
            <span class="username">SP2ZIE</span>
        </a>
    </li>
    {%- if site.github_username -%}
        <li>
            <a href="https://github.com/{{ site.github_username| cgi_escape | escape }}">
            <svg class="svg-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#github' | relative_url }}"></use></svg>
            <span class="username">{{ site.github_username| escape | upcase }}</span>
            </a>
        </li>
    {%- endif -%}
</ul>
